body {
  font-family: TimesNewRoman;
  background: #7cb9e8; 
  text-align: center;
}

header img {
      margin: 40px 0px 0px 0px;
      border: 10px solid #d1dbfe;
      border-radius: 600px;
      width:200px; 
      height: auto;
}

div.center {
  text-align:center;
}

div.filmgallery {
  float: right;
  width: 33%;
  margin-top: 30px;
  transition: .5s;
}

div.bookgallery {
  margin-top: 30px;
  float: left;
  width: 25%;
  transition: .5s;
}

div.musicgallery {
  margin-top: 30px;
  float: left;
  width: 33%;
  transition: .5s;
}

div.desc {
  padding: 10px;
  text-align: center;
  color: white;
}

div.filmgallery:hover {
  transform: scale(1.05);
}

div.filmgallery img {
  width: 150px;
  height: 200px;
  border: 5px solid #d1dbfe;
}

div.bookgallery img {
  width: 110px;
  height: 170px;
  border: 5px solid #d1dbfe;
}

div.musicgallery img {
  width: 150px;
  height: 150px;
  border: 5px solid #d1dbfe;
}

div.musicgallery:hover {
  transform: scale(1.05);
}

div.bookgallery:hover {
  transform: scale(1.05);
}

div.books:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 70px;
  margin-top: 0px;
  color: white;
}
p1 {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
ul {
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 10px;
    background-color: rgba(198,146,230,0.29);
 }
li {
    display: inline;
    padding: 0px 50px 0px 50px;
 }
a {
  color: white;
  text-decoration: none;
  transition: .5s;
}
ul a:hover {
  color: #6445bc;
  font-size: 18px;
}

h2 {
  font-family: Chalkduster;
  font-size: 40px;
  margin-top: 0px;
  color: #ffea9d;
}

h3 {
  font-family: Chalkduster;
  font-size: 40px;
  margin-top: 0px;
  color: #ffea9d;
}

h4 {
   font-family: Chalkduster;
  font-size: 20px;
  margin-top: 20px;
  color: #ffea9d;
}

h5 {
   font-family: Chalkduster;
  font-size: 15px;
  margin-top: 20px;
  color: #ffea9d;
}

h {
  font-family: Chalkduster;
  font-size: 20px;
  margin-top: 20px auto;
  color: #ffea9d;
}

p2 {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
}
pam {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
}

div.books img {
  margin: 20px auto 10px auto;
  width: 110px;
  height: auto;
  border: 5px solid #d1dbfe;
  transition: .5s;
}

div.text {
  background-color: #ffea9d;
  color: black;
  font-size: 19px;
  padding: 10px;
}

div.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.musicgallery:hover .middle {
  opacity: 1;
}

.fa {
  margin: 30px;
  padding: 100px 10px 10px 10px;
  font-size: 45px !important;
  width: 90px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.fa:hover {
  font-size: 50px !important;
  color: #1795fb;
}

/* just testing */
div.playing {
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  max-width: 32%;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 65%;
  border: 5px solid #d1dbfe;
}

.imgblock {
  position: relative;
  text-align: center;
}

.imgblock:hover img {
  transform: scale(1.04);
}

.descrip {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 opacity: 0;
 visibility:hidden;
 background: white;
 transition:1s;
}

.imgblock:hover .descrip {
  visibility: visible;
  opacity: 1;
}
