body {
  font-family: TimesNewRoman;
  background: #7cb9e8; 
  text-align: center;
}

header img {
      margin: 40px 0px 0px 0px;
      border: 10px solid #d1dbfe;
      border-radius: 600px;
      width:200px; 
      height: auto;
}

div.filmgallery {
  margin: 20px;
  float: left;
  width: 300px;
}

div.desc {
  padding: 10px;
  text-align: center;
  color: white;
}

div.filmgallery:hover {
  transform: scale(1.05);
}

div.filmgallery img {
  width: 150px;
  height: 200px;
  border: 5px solid #d1dbfe;
}

h1 {
  font-size: 70px;
  margin-top: 0px;
  color: white;
}
p1 {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
ul {
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 10px;
    background-color: rgba(198,146,230,0.29);
 }
li {
    display: inline;
    padding: 0px 50px 0px 50px;
 }
a {
  color: white;
  text-decoration: none;
}
ul a:hover {
  color: #6445bc;
  font-size: 18px;
}

h2 {
  font-family: Chalkduster;
  font-size: 40px;
  margin-top: 0px;
  color: #ffea9d;
}

h3 {
  font-family: Chalkduster;
  font-size: 40px;
  margin-top: 0px;
  color: #ffea9d;
}

h {
  font-family: Chalkduster;
  font-size: 20px;
  margin-top: 20px auto;
  color: #ffea9d;
}

p2 {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
}
pam {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
}
